 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


.maxwidth800{
	max-width: 800px;
}


.maxwidth600{
	max-width: 600px;
}


.registerbutton{
	font-size: 20px !important;
}